<!--Добавление оборудование-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить оборудование</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4 text-center">Добавление оборудования</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <form class="was-validated" method="POST" th:action="@{/devices/add}" th:object="${deviceForm}">
        <div class="mb-3">
            <div class="col">
                <div class="row-auto mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea th:field="${deviceForm.description}" name="description" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="title" class="form-label">Наименование</label>
                        <input th:field="${deviceForm.title}" name="title" type="text" class="form-control" id="title" required>
                    </div>
                    <div class="col mb-3">
                        <label for="user" class="form-label">Ответственное лицо</label>
                        <select th:field="${deviceForm.user.id}" class="form-select" name="user" id="user" aria-label="Default select example" required>
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.lastName} + ' ' + ${user.firstName} + ' ' + ${user.middleName}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="model" class="form-label">Модель</label>
                        <input th:field="${deviceForm.model}" name="model" type="text" class="form-control" id="model">
                    </div>
                    <div class="col mb-3">
                        <label for="department" class="form-label">Подразделение</label>
                        <select th:field="${deviceForm.department.id}" class="form-select" name="department" id="department" aria-label="Default select example" required>
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.title}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="manufacturer" class="form-label">Производитель</label>
                        <select th:field="${deviceForm.manufacturer.id}" class="form-select" name="manufacturer" id="manufacturer" aria-label="Default select example" required>
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.title}"></option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label for="status" class="form-label">Статус</label>
                        <select th:field="${deviceForm.status.id}" class="form-select" name="status" id="status" aria-label="Default select example" required>
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.description}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="serialNumber" class="form-label">Серийный номер</label>
                        <input th:field="${deviceForm.serialNumber}" name="serialNumber" type="text" class="form-control" id="serialNumber">
                    </div>
                    <div class="col mb-3">
                        <label for="inventoryNumber" class="form-label">Инвентарный номер</label>
                        <input th:field="${deviceForm.inventoryNumber}" name="inventoryNumber" type="text" class="form-control" id="inventoryNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="datePurchase" class="form-label">Дата покупки</label>
                        <input th:field="${deviceForm.datePurchase}" placeholder="YYYY-MM-DD" name="datePurchase" type="date" class="form-control" id="datePurchase">
                    </div>
                    <div class="col mb-3">
                        <label for="price" class="form-label">Цена</label>
                        <input th:field="${deviceForm.price}" name="price" type="text" class="form-control" id="price">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Добавить оборудование</button>
        <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>