<!--страница с оборудованием-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оборудование</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="text-center">Оборудование</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <div>
        <div class="container-fluid row mb-2 mx-0 p-2">
            <div class="col">
                <a
                    th:href="'/devices'"
                    class="btn btn-primary mb-2 me-1"
                    role="button"
                    style="float: left"
                    aria-disabled="true"
                >
                    Показать все
                </a>
                <p class="btn btn-secondary mb-2">
                    Оборудование
                    <span th:text="${devices.getTotalElements()}" class="badge rounded-pill bg-danger">
                        <span class="visually-hidden">Все записи</span>
                    </span>
                </p>

            </div>
            <div class="col">
                <a  th:each="authority : ${#authentication.getAuthorities()}"
                    th:if="${authority.getAuthority()} != 'MEDICAL_WORKER'"
                    th:href="'/devices/add'"
                    class="btn btn-secondary"
                    role="button"
                    style="float: right"
                    aria-disabled="true">Добавить оборудование
                </a>
            </div>
        </div>

        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Подразделение</th>
                <th scope="col">Ответственное лицо</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            <tr>
                <form method="POST" th:action="@{/devices/search}" th:object="${deviceSearchForm}">
                    <th scope="col">
                        <input name="title" type="text" class="form-control" id="title">
                    </th>
                    <th scope="col">
                        <select  class="form-select" name="departmentId" id="departmentId" aria-label="Default select example">
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.title}"></option>
                        </select>
                    </th>
                    <th scope="col">
                        <select class="form-select" name="userId" id="userId" aria-label="Default select example">
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.lastName} + ' ' + ${user.firstName} + ' ' + ${user.middleName}"></option>
                        </select>
                    </th>
                    <th scope="col">
                        <select class="form-select" name="statusId" id="statusId" aria-label="Default select example">
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.description}"></option>
                        </select>
                    </th>
                    <th scope="col" class="text-center">
                        <button type="submit" class="btn btn-primary">Поиск</button>
                    </th>
                </form>
            </tr>
            </thead>
            <tbody>

            <tr th:each="device: ${devices}" th:onclick="|window.location.href='/devices/'+ ${device.id}|">
                <td th:text="${device.title}"></td>
                <td th:text="${device.department.getTitle()}"></td>
                <td th:text="${device.user?.getLastName()} + ' ' + ${device.user?.getFirstName()} + ' ' + ${device.user?.getMiddleName()}"></td>
                <td th:text="${device.status?.getDescription()}"></td>


                <td class="text-center" onclick="tdclick();">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#modalDeleteConfirm${device.id}|">
                        Удалить
                    </button>
                    <!-- Modal delete confirm-->
                    <div class="modal fade" th:id="|modalDeleteConfirm${device.id}|" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalDeleteTitle">Удалить оборудование</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить оборудование:
                                    <div th:text="${device.title} + ' [' +${device.inventoryNumber} + ']?'"></div>
                                    (Вместе с ним удалятся все связанные заявки и файлы)
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <a th:href="'/devices/delete/' + ${device.id}"
                                       class="btn btn-danger"
                                       role="button"
                                       aria-disabled="true">Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${devices.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${devices.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/devices?page={id}(id=${devices.number lt 2 ? 1 : devices.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq devices.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, devices.totalPages, 1)}">
                    <a class="page-link" th:href="@{/devices?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${devices.number eq devices.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/devices?page={id}(id=${devices.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>