<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Карточка оборудования</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Карточка оборудования</h1>
    <hr>
    <input type="hidden" id="deviceId" th:value="${device.id}">
    <div class="my-3 d-flex justify-content-between flex-row">
        <div class="me-2">
            <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            <a th:each="authority : ${#authentication.getAuthorities()}"
               th:if="${authority.getAuthority()} != 'MEDICAL_WORKER'"
               th:href="'/devices/' + ${device.id} + '/update'"
               class="btn btn-primary"
               role="button"
               aria-disabled="true">Редактировать
            </a>
        </div>
    </div>
    <hr>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">
                <label for="description" class="form-label">Описание</label>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" colspan="2">
                <div class="row-auto mb-3">
                    <textarea th:text="${device.description}" name="description" class="form-control" id="description"
                              rows="5" readonly="readonly"></textarea>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Основная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">Наименование</td>
            <td class="col-2" th:text="${device.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Модель</td>
            <td class="col-2" th:text="${device.model}"></td>
        </tr>
        <tr>
            <td class="col-1">Производитель</td>
            <td th:text="${device?.manufacturer?.title}" class="col-2"></td>
        </tr>
        <tr>
            <td class="col-1">Страна производителя</td>
            <td class="col-2" th:text="${device?.manufacturer?.country?.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Статус</td>
            <td class="col-2" th:text="${device.status.description}"></td>
        </tr>
        <tr>
            <td class="col-1">Ответственное лицо</td>
            <td class="col-2"
                th:text="${device.user.lastName} + ' ' + ${device.user.firstName} + ' ' + ${device.user.middleName} + ' (' + ${device.user.login} + ')'"></td>
        </tr>
        <tr>
            <td class="col-1">Подразделение</td>
            <td class="col-2" th:text="${device.department.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Серийный номер</td>
            <td class="col-2" th:text="${device.serialNumber}"></td>
        </tr>
        <tr>
            <td class="col-1">Инвентарный номер</td>
            <td class="col-2" th:text="${device.inventoryNumber}"></td>
        </tr>
        <tr>
            <td class="col-1">Дата покупки</td>
            <td class="col-2">
                <input type="date" th:value="${device.datePurchase}" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td class="col-1">Цена</td>
            <td class="col-2" th:text="${device.price} + ' руб.'"></td>
        </tr>
        </tbody>
    </table>
    <div style="background: white;border-radius: 10px; box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;">
        <canvas id="chart" width="600px" height="350px" class="p-3"></canvas>
        <div class="py-4 fs-4 text-center" id="resultSumDevice">
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/deviceCanvas.js}"></script>
</div>
</body>
</html>