<div th:fragment="incidentRepair"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    class="px-2 py-4"
    id="repair-panel-content">
    <script type="text/javascript">
        function funonload() {
            let detailSum = document.querySelectorAll('[name="detailSum"]');
            let sum = 0;
            for (const elem of detailSum) {
                sum += Number(elem.dataset.price);
            };
            let resultSum = document.getElementById("resultSum");
            resultSum.textContent = sum + " руб.";
        }
        window.onload = funonload;
    </script>
    <div class="mb-3 d-flex justify-content-between flex-row">
        <div class="me-2">
            <button th:each="authority : ${#authentication.getAuthorities()}"
                    th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} == 'WORKING'" class="btn btn-primary mx-2" onclick="" data-bs-toggle="modal" th:data-bs-target="|#modalAddConfirm${incident.id}|">Добавить деталь</button>
            <!-- Modal delete confirm-->
            <div class="modal fade" th:id="|modalAddConfirm${incident.id}|" tabindex="-1" role="dialog" aria-labelledby="modalAddTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalAddTitle">Добавить деталь</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="detailsSelect" class="form-label">Деталь</label>
                            <select class="form-select" name="detailsSelect" id="detailsSelect" aria-label="Default select example" required>
                                <option th:value="null" th:id="'detailNull'" selected>Не выбрано</option>
                                <option th:each="detail: ${details}" th:id="'ids[' + ${detail.id} + ']'"  th:value="${detail.id}" th:data-price="${detail.price}">
                                    <span th:text="${detail.title} + ' ' + ${detail.manufacturer.title}"></span>
                                    <span th:text="' [' + ${detail.articleNumber} + ']'"></span>
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onClick="addDetail()">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <form method="POST" th:action="@{'/incidents/' + ${incident.id} + '/update-details'}"  th:object="${incidentDetailsForm}">
        <input type="hidden" name="id" id="id" th:value="${incidentDetailsForm.id}">
        <label class="form-label w-100 text-center" style="font-weight: bold;">Описание выполненной работы</label>
        <textarea th:each="authority : ${#authentication.getAuthorities()}"
                  th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} == 'WORKING'" th:text="${incident.repairDescription}" name="repairDescription" class="form-control" rows="5" placeholder="Описание выполненной работы" oninput="changeContentColor()"></textarea>
        <textarea th:each="authority : ${#authentication.getAuthorities()}"
                  th:if="${authority.getAuthority()} != 'ENGINEER'" th:text="${incident.repairDescription}" name="repairDescription" class="form-control" rows="5" placeholder="Описание выполненной работы" oninput="changeContentColor()" readonly="readonly"></textarea>
        <textarea th:each="authority : ${#authentication.getAuthorities()}"
                  th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} != 'WORKING'" th:text="${incident.repairDescription}" name="repairDescription" class="form-control" rows="5" placeholder="Описание выполненной работы" oninput="changeContentColor()" readonly="readonly"></textarea>
        <div class="mb-3 d-flex flex-column" id="repairContent">
            <th:block th:each="incidentDetail, iter :${incidentDetailsForm.detailsIds}">
                <div class="p-3 my-2 d-flex justify-content-between detail-card">
                    <input type="hidden" th:name="|detailsIds[${iter.index}].incident|" th:value="${incidentDetail.incident.id}">
                    <input type="hidden" th:name="|detailsIds[${iter.index}].detail|" th:value="${incidentDetail.detail.id}">
                    <div class="col d-flex flex-column pe-2">
                        <span th:text="'Деталь: ' + ${incidentDetail.detail.title} + ' ' + ${incidentDetail.detail.manufacturer.title}"></span>
                        <span th:text="'Артикул: [' + ${incidentDetail.detail.articleNumber} + ']'"></span>
                    </div>
                    <div class="col d-flex flex-column pe-3" th:data-iter="${iter.index}">
                        <span>Количество</span>
                        <input th:each="authority : ${#authentication.getAuthorities()}"
                               th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} == 'WORKING'" th:name="|detailsIds[${iter.index}].count|" th:id="|detailIds[${iter.index}].count|" type="number" pattern="^[0-9]+$" style="width:120px;" th:value="${incidentDetail.count}" oninput="changeCount(this)">
                        <input th:each="authority : ${#authentication.getAuthorities()}"
                               th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} != 'WORKING'" th:name="|detailsIds[${iter.index}].count|" th:id="|detailIds[${iter.index}].count|" type="number" pattern="^[0-9]+$" style="width:120px;" th:value="${incidentDetail.count}" oninput="changeCount(this)" readonly="readonly">
                        <input th:each="authority : ${#authentication.getAuthorities()}"
                               th:if="${authority.getAuthority()} != 'ENGINEER'" th:name="|detailsIds[${iter.index}].count|" th:id="|detailIds[${iter.index}].count|" type="number" pattern="^[0-9]+$" style="width:120px;" th:value="${incidentDetail.count}" oninput="changeCount(this)" readonly="readonly">
                        <div th:id="|detailPrice[${iter.index}]|" th:text="${incidentDetail.detail.price} + ' руб./шт.'" th:data-price="${incidentDetail.detail.price}" class="small"></div>
                        <div th:name="detailSum" th:id="|detailSum[${iter.index}]|" th:text="${incidentDetail.detail.price * incidentDetail.count} + ' руб.'"  th:data-price="${incidentDetail.detail.price * incidentDetail.count}" style="font-weight: bold;"></div>
                    </div>
                    <div class="col-auto">
                        <a th:each="authority : ${#authentication.getAuthorities()}"
                           th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} == 'WORKING'" class="btn btn-danger" role="button" aria-disabled="true" onclick="removeDetail(this)">Удалить</a>
                    </div>
                </div>
            </th:block>
        </div>
        <hr>
        <div class="d-flex justify-content-start px-3">
            <p class="me-3"> Общая сумма: </p>
            <p id="resultSum" style="font-weight: bold;"></p>
        </div>
        <hr>
        <div class="me-2">
            <button th:each="authority : ${#authentication.getAuthorities()}"
                    th:if="${authority.getAuthority()} == 'ENGINEER' and ${incident.status.toString()} == 'WORKING'" type="submit" class="btn btn-primary mx-2" onclick="">Сохранить</button>
        </div>
    </form>
</div>