<div th:fragment="incidentDesc"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="px-2 py-4">
    <div class="row-auto mb-3">
        <textarea th:text="${incident.description}" name="description" class="form-control" id="description" rows="5" readonly="readonly" placeholder="Подробное описание неисправности"></textarea>
    </div>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Основная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">Название</td>
            <td class="col-2" th:text="${incident.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Подразделение</td>
            <td class="col-2" th:text="${incident.device.department.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Критичность</td>
            <td class="col-2" >
                <div class="d-flex flex-row">
                    <p class="pe-1">
                      <span th:styleappend="'background: ' + ${incident.criticality.getCriticalityColor()}" style="border: 0.5px solid;border-radius: 2px;">
                        <i class="bi bi-info" ></i>
                      </span>
                    </p>
                    <p th:text="${incident.criticality.getCriticalityName()}"></p>
                </div>
            </td>
        </tr>
        <tr th:if="${incident.repairer} != null">
            <td class="col-1">Исполнитель</td>
            <td class="col-2">
                <p th:text="${incident.repairer.lastName} + ' ' + ${incident.repairer.firstName} + ' ' + ${incident.repairer.middleName}"></p>
                <p th:text="'Телефон: ' + ${incident.repairer.phone}"></p>
                <p th:text="'Почта: ' + ${incident.repairer.backUpEmail}"></p>
            </td>
        </tr>
        <tr>
            <td class="col-1">Сотрудник-инициатор</td>
            <td class="col-2">
                <p th:text="${incident.user.lastName} + ' ' + ${incident.user.firstName} + ' ' + ${incident.user.middleName}"></p>
                <p th:text="'Телефон: ' + ${incident.user.phone}"></p>
                <p th:text="'Почта: ' + ${incident.user.backUpEmail}"></p>
            </td>
        </tr>
        <tr>
            <td class="col-1">Оборудование</td>
            <td class="col-2">
                <p th:text="${incident.device.title} + ' ' + ${incident.device.model}"></p>
                <p th:text="'Инвентарный номер: ' + ${incident.device.inventoryNumber}"></p>
                <p th:text="'Серийный номер: ' + ${incident.device.serialNumber}"></p>
            </td>
        </tr>
        <tr>
            <td class="col-1">Дата создания заявки</td>
            <td class="col-2" >
                <p th:text="${#temporals.format(incident.createdWhen, 'dd-MM-yyyy HH:mm')}" readonly="readonly"></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>