<div th:fragment="incidentHistory"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="px-2 py-4">
  <div class="container">
    <div class="page-header">
      <!--<h1 id="timeline">История</h1>-->
    </div>
    <ul class="timeline">
      <li th:if="${incident.createdWhen} != null">
        <div class="timeline-badge info">
          <i class="bi bi-file-earmark-plus"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Заявка создана</h4>
          </div>
          <hr>
          <div class="timeline-body">
            <div class="mb-2">Сотрудник-инициатор:
              <p class="mb-1" th:text="${incident.user.lastName} + ' ' + ${incident.user.firstName} + ' ' + ${incident.user.middleName}" style="font-weight:bold;"> </p>
            </div>
            <a sec:authorize="hasRole('ADMIN')"
               th:onclick="|window.location.href='/users/profile/'+ ${incident.user.id}|"
               class="btn btn-primary">
              Профиль
            </a>
          </div>
        </div>
        <div class="timeline-date">
          <p th:text="${#temporals.format(incident.createdWhen, 'dd-MMMM-yyyy (HH:mm)')}" class="m-0"></p>
        </div>
      </li>
      <li th:if="${incident.startedWorkingWhen} != null">
        <div class="timeline-badge warning">
          <i class="bi bi-wrench"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Устранение инженером</h4>
          </div>
          <hr>
          <div class="timeline-body">
            <div class="mb-2">Исполнитель:
              <p class="mb-1" th:text="${incident.repairer.lastName} + ' ' + ${incident.repairer.firstName} + ' ' + ${incident.repairer.middleName}" style="font-weight:bold;"> </p>
            </div>
            <a sec:authorize="hasRole('ADMIN')"
               th:onclick="|window.location.href='/users/profile/'+ ${incident.repairer.id}|"
               class="btn btn-primary">
              Профиль
            </a>
          </div>
        </div>
        <div class="timeline-date">
          <p th:text="${#temporals.format(incident.startedWorkingWhen, 'dd-MMMM-yyyy (HH:mm)')}" class="m-0"></p>
        </div>
      </li>
      <li th:if="${incident.completedWhen} != null">
        <div class="timeline-badge success">
          <i class="bi bi-check-circle"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Выполнена</h4>
          </div>
          <hr>
          <div class="timeline-body">
            <div class="mb-2">Исполнитель:
              <p class="mb-1" th:text="${incident.repairer.lastName} + ' ' + ${incident.repairer.firstName} + ' ' + ${incident.repairer.middleName}" style="font-weight:bold;"> </p>
            </div>
            <a sec:authorize="hasRole('ADMIN')"
               th:onclick="|window.location.href='/users/profile/'+ ${incident.repairer.id}|"
               class="btn btn-primary">
              Профиль
            </a>
          </div>
        </div>
        <div class="timeline-date">
          <p th:text="${#temporals.format(incident.completedWhen, 'dd-MMMM-yyyy (HH:mm)')}" class="m-0"></p>
        </div>
      </li>
      <li th:if="${incident.closedWhen} != null">
        <div class="timeline-badge danger">
          <i class="bi bi-x-octagon"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Закрыта</h4>
          </div>
          <hr>
          <div class="timeline-body">
            <div class="mb-2">Утверждающее лицо:
              <p class="mb-1" th:text="${incident.user.lastName} + ' ' + ${incident.user.firstName} + ' ' + ${incident.user.middleName}" style="font-weight:bold;"> </p>
            </div>
            <a sec:authorize="hasRole('ADMIN')"
               th:onclick="|window.location.href='/users/profile/'+ ${incident.user.id}|"
               class="btn btn-primary">
              Профиль
            </a>
          </div>
        </div>
        <div class="timeline-date">
          <p th:text="${#temporals.format(incident.closedWhen, 'dd-MMMM-yyyy (HH:mm)')}" class="m-0"></p>
        </div>
      </li>
    </ul>
  </div>
</div>