<div th:fragment="incidentFiles"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="px-2 py-4">
    <form method="POST" enctype="multipart/form-data" th:action="@{'/incidents/' + ${incident.id} + '/update-files'}">
        <div class="p-3 my-2 d-flex flex-column justify-content-between">
            <div class="p-3 my-2">
                <input type="file" multiple name="files">
            </div>
            <div class="p-3 my-2 d-flex justify-content-between">
                <button class="btn btn-primary w-25" type="submit">Загрузить</button>
                <a th:href="'/incidents/' + ${incident.id} + '/delete-all-files'"
                   class="btn btn-danger"
                   role="button"
                   aria-disabled="true"
                   onclick="return confirm('Вы уверены, что хотите удалить все файлы?');">
                    <i class="bi bi-trash pe-1"></i>
                    <span>Удалить все</span>
                </a>
            </div>
        </div>
    </form>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Файлы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${filesAll}">
            <td class="col-1">
                <i class="bi-file-earmark me-2" style="font-size: 2em;"></i>
                <span th:text="${file.fileName}"></span>
            </td>
            <td class="col-2 text-end">
                <a th:href="@{|/incidents/download?fileId=${file.id}&incidentId=${incident.id}|}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">
                    <i class="bi bi-download pe-1"></i>
                    <span>Скачать</span>
                </a>
                <a th:href="'/incidents/' + ${incident.id} + '/delete-file/' + ${file.id}"
                    class="btn btn-danger"
                    role="button"
                    aria-disabled="true"
                   onclick="return confirm('Вы уверены, что хотите удалить файл?');">
                    <i class="bi bi-trash pe-1"></i>
                    <span>Удалить</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>