<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавить деталь</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="mb-4 text-center">Добавление детали</h1>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
  <form class="was-validated" method="POST" th:action="@{/details/add}" th:object="${detailForm}">
    <div class="mb-3">
      <div class="col">
        <div class="row-auto mb-3">
          <label for="description" class="form-label">Описание</label>
          <textarea th:field="${detailForm.description}" name="description" class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="title" class="form-label">Наименование</label>
            <input th:field="${detailForm.title}" name="title" type="text" class="form-control" id="title" required>
          </div>
          <div class="col mb-3">
            <label for="manufacturer" class="form-label">Производитель</label>
            <select th:field="${detailForm.manufacturer.id}" class="form-select" name="manufacturer" id="manufacturer" aria-label="Default select example" required>
              <option th:value="null" selected>Не выбрано</option>
              <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.title}"></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="serialNumber" class="form-label">Серийный номер</label>
            <input th:field="${detailForm.serialNumber}" name="serialNumber" type="text" class="form-control" id="serialNumber">
          </div>
          <div class="col mb-3">
            <label for="articleNumber" class="form-label">Артикул</label>
            <input th:field="${detailForm.articleNumber}" name="articleNumber" type="text" class="form-control" id="articleNumber">
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="deliveryDate" class="form-label">Дата покупки</label>
            <input th:field="${detailForm.deliveryDate}" placeholder="YYYY-MM-DD" name="deliveryDate" type="date" class="form-control" id="deliveryDate">
          </div>
          <div class="col mb-3">
            <label for="price" class="form-label">Цена</label>
            <input th:field="${detailForm.price}" name="price" type="text" class="form-control" id="price">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Добавить деталь</button>
    <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>