<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Редактировать карточку детали</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Редактирование карточки детали</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <form method="POST" th:action="@{'/details/' + ${detail.id} + '/update'}"  th:object="${detailForm}" class="was-validated">
        <input type="hidden" name="id" id="id" th:value="${detail.id}">
        <div class="mb-3">
            <div class="col">
                <div class="row-auto mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea th:value="${detail.description}" th:text="${detail.description}" name="description" class="form-control" id="description" rows="3"></textarea>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="title" class="form-label">Наименование</label>
                        <input th:value="${detail.title}" name="title" type="text" class="form-control" id="title" required>
                    </div>
                    <div class="col mb-3">
                        <label for="manufacturer" class="form-label">Производитель</label>
                        <select th:field="${detail.manufacturer.id}" class="form-select" name="manufacturer" id="manufacturer" aria-label="Default select example">
                            <option th:value="${detail.manufacturer.id}" th:text="${detail.manufacturer.title}" selected>Не выбрано</option>
                            <option th:if="${manufacturer.id != detail.manufacturer.id}" th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.title}"></option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="serialNumber" class="form-label">Серийный номер</label>
                        <input th:value="${detail.serialNumber}" name="serialNumber" type="text" class="form-control" id="serialNumber">
                    </div>
                    <div class="col mb-3">
                        <label for="articleNumber" class="form-label">Артикул</label>
                        <input th:value="${detail.articleNumber}" name="articleNumber" type="text" class="form-control" id="articleNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="deliveryDate" class="form-label">Дата покупки</label>
                        <input th:value="${detail.deliveryDate}" placeholder="YYYY-MM-DD" name="deliveryDate" type="date" class="form-control" id="deliveryDate">
                    </div>
                    <div class="col mb-3">
                        <label for="price" class="form-label">Цена</label>
                        <input th:value="${detail.price}" name="price" type="text" class="form-control" id="price">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>