<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Карточка детали</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Карточка детали</h1>
    <hr>
    <div class="my-3 d-flex justify-content-between flex-row">
        <div class="me-2">
            <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            <a th:href="'/details/' + ${detail.id} + '/update'"
               class="btn btn-primary"
               role="button"
               aria-disabled="true">Редактировать
            </a>
        </div>
    </div>
    <hr>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">
                <label for="description" class="form-label">Описание</label>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" colspan="2">
                <div class="row-auto mb-3">
                    <textarea th:text="${detail.description}" name="description" class="form-control" id="description" rows="5" readonly="readonly"></textarea>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Основная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">Наименование</td>
            <td class="col-2" th:text="${detail.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Производитель</td>
            <td th:text="${detail?.manufacturer?.title}" class="col-2" ></td>
        </tr>
        <tr>
            <td class="col-1">Страна производителя</td>
            <td class="col-2" th:text="${detail?.manufacturer?.country?.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Серийный номер</td>
            <td class="col-2" th:text="${detail.serialNumber}"></td>
        </tr>
        <tr>
            <td class="col-1">Артикул</td>
            <td class="col-2" th:text="${detail.articleNumber}"></td>
        </tr>
        <tr>
            <td class="col-1">Дата покупки</td>
            <td class="col-2" >
                <input type="date" th:value="${detail.deliveryDate}" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td class="col-1">Цена</td>
            <td class="col-2" th:text="${detail.price} + ' руб.'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>