<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="text-center">Детали</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <div>
        <div class="container-fluid row mb-2 mx-0 p-2">
            <div class="col">
                <a
                    th:href="'/details'"
                    class="btn btn-primary mb-2 me-1"
                    role="button"
                    style="float: left"
                    aria-disabled="true"
                >
                    Показать все
                </a>
                <p class="btn btn-secondary mb-2">
                    Детали
                    <span th:text="${details.getTotalElements()}" class="badge rounded-pill bg-danger">
                        <span class="visually-hidden">Все записи</span>
                    </span>
                </p>

            </div>
            <div class="col">
                <a
                    th:href="'/details/add'"
                    class="btn btn-secondary"
                    role="button"
                    style="float: right"
                    aria-disabled="true">Добавить деталь
                </a>
            </div>
        </div>

        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Производитель</th>
                <th scope="col">Артикул</th>
                <th scope="col">Серийный номер</th>
                <th scope="col"></th>
            </tr>
            <tr>
                <form method="POST" th:action="@{/details/search}" th:object="${detailSearchForm}">
                    <th scope="col">
                        <input name="title" type="text" class="form-control" id="title">
                    </th>
                    <th scope="col">
                        <select  class="form-select" name="manufacturerId" id="manufacturerId" aria-label="Default select example">
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.title}"></option>
                        </select>
                    </th>
                    <th scope="col">
                        <input name="articleNumber" type="text" class="form-control" id="articleNumber">
                    </th>
                    <th scope="col">
                        <input name="serialNumber" type="text" class="form-control" id="serialNumber">
                    </th>
                    <th scope="col" class="text-center">
                        <button type="submit" class="btn btn-primary">Поиск</button>
                    </th>
                </form>
            </tr>
            </thead>
            <tbody>

            <tr th:each="detail: ${details}" th:onclick="|window.location.href='/details/'+ ${detail.id}|">
                <td th:text="${detail.title}"></td>
                <td th:text="${detail.manufacturer.getTitle()}"></td>
                <td th:text="${detail.articleNumber}"></td>
                <td th:text="${detail.serialNumber}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${details.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${details.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/details?page={id}(id=${details.number lt 2 ? 1 : details.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq details.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, details.totalPages, 1)}">
                    <a class="page-link" th:href="@{/details?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${details.number eq details.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/details?page={id}(id=${details.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>