<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить производителя</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4">Добавление производителя</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <form class="was-validated" method="POST" th:action="@{/manufacturers/add}" th:object="${manufacturerForm}">
        <div class="mb-3">
            <div class="mb-3">
                <label for="title" class="form-label">Название</label>
                <input th:field="${manufacturerForm.title}" name="title" type="text" class="form-control" id="title" required>
            </div>
            <div class="col mb-3">
                <label for="country" class="form-label">Страна</label>
                <select th:field="${manufacturerForm.country.id}" class="form-select" name="country" id="country" aria-label="Default select example" required>
                    <option th:value="null" selected>Не выбрано</option>
                    <option th:each="country: ${countries}" th:value="${country.id}" th:text="${country.title}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Добавить производителя</button>
        <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>