<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Редактировать производителя</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Редактирование производителя</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <form method="POST" th:action="@{'/manufacturers/' + ${manufacturer.id} + '/update'}"  th:object="${manufacturerForm}" class="was-validated">
        <input type="hidden" name="id" id="id" th:value="${manufacturer.id}">
        <div class="mb-3 col">
            <div class="row">
                <div class="col">
                    <div class="row-auto mb-3">
                        <label for="title" class="form-label">Наименование</label>
                        <input th:value="${manufacturer.title}" name="title" type="text" class="form-control" id="title" required>
                    </div>
                </div>
                <div class="col">
                    <div class="row-auto mb-3">
                        <label for="country" class="form-label">Страна</label>
                        <select th:field="${manufacturer.country.id}" class="form-select" name="country" id="country" aria-label="Default select example" required>
                            <option th:value="${manufacturer.country.id}" th:text="${manufacturer.country.title}" selected>Не выбрано</option>
                            <option th:if="${country.id != manufacturer.country.id}" th:each="country: ${countries}" th:value="${country.id}" th:text="${country.title}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>