<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Производитель</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Карточка производителя</h1>
    <hr>
    <div class="my-3 d-flex justify-content-between flex-row">
        <div class="me-2">
            <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            <a th:href="'/manufacturers/' + ${manufacturer.id} + '/update'"
               class="btn btn-primary"
               role="button"
               aria-disabled="true">Редактировать
            </a>
        </div>
    </div>
    <hr>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Основная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">Наименование</td>
            <td class="col-2" th:text="${manufacturer.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Страна</td>
            <td class="col-2" th:text="${manufacturer.country.title}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>