<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Производители</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="text-center">Производители</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <div class="container-fluid row mb-2 mx-0 p-2">
        <div class="col">
            <a
                th:href="'/manufacturers'"
                class="btn btn-primary mb-2 me-1"
                role="button"
                style="float: left"
                aria-disabled="true"
            >
                Показать все
            </a>
            <p class="btn btn-secondary mb-2">
                Производители
                <span th:text="${manufacturers.getTotalElements()}" class="badge rounded-pill bg-danger">
                    <span class="visually-hidden">Все записи</span>
                </span>
            </p>

        </div>
        <div class="col">
            <a
                th:href="'/manufacturers/add'"
                class="btn btn-secondary"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить производителя
            </a>
        </div>
    </div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Страна</th>
            <th scope="col"></th>
        </tr>
        <tr>
            <form method="POST" th:action="@{/manufacturers/search}" th:object="${manufacturerSearchForm}">
                <th scope="col">
                    <input name="title" type="text" class="form-control" id="title">
                </th>
                <th scope="col">
                    <select class="form-select" name="countryId" id="countryId" aria-label="Default select example">
                        <option th:value="null" selected>Не выбрано</option>
                        <option th:each="country: ${countries}" th:value="${country.id}" th:text="${country.title}"></option>
                    </select>
                </th>
                <th scope="col" class="text-center">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>

        <tr th:each="manufacturer: ${manufacturers}" th:onclick="|window.location.href='/manufacturers/'+ ${manufacturer.id}|">
            <td th:text="${manufacturer.title}"></td>
            <td th:text="${manufacturer.country.title}"></td>

            <td class="text-center" onclick="tdclick();">
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${manufacturers.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${manufacturers.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/manufacturers?page={id}(id=${manufacturers.number lt 2 ? 1 : manufacturers.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq manufacturers.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, manufacturers.totalPages, 1)}">
                <a class="page-link" th:href="@{/manufacturers?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${manufacturers.number eq manufacturers.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/manufacturers?page={id}(id=${manufacturers.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>