<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Редактировать заявку</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Редактирование заявки</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <form method="POST" th:action="@{'/incidents/' + ${incident.id} + '/update'}"  th:object="${incidentForm}" class="was-validated">
        <input type="hidden" name="id" id="id" th:value="${incident.id}">
        <div class="mb-3">
            <div class="col">
                <div class="row-auto mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea th:value="${incident.description}" th:text="${incident.description}" name="description" class="form-control" id="description" rows="3" placeholder="Опишите подробно неисправность"></textarea>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="title" class="form-label">Название</label>
                        <input th:value="${incident.title}" name="title" type="text" class="form-control" id="title" required>
                    </div>
                    <div class="col mb-3">
                        <label for="criticality" class="form-label">Критичность</label>
                        <select th:field="${incident.criticality}" class="form-select" name="criticality" id="criticality" aria-label="Default select example" required>
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="criticalityItem: ${criticality}" th:value="${criticalityItem}" th:text="${criticalityItem.getCriticalityName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="device" class="form-label">Оборудование</label>
                        <select th:field="${incident.device.id}" class="form-select" name="device" id="device" aria-label="Default select example" required>
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="device: ${devices}" th:value="${device.id}" th:text="${device.title} + ' (' + ${device.model} + ' ' + ${device.inventoryNumber} +')'"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>