<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявки</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="text-center">Заявки</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <div>
        <div class="container-fluid row mb-2 mx-0 p-2">
            <div class="col">
                <a th:href="'/incidents'"
                    class="btn btn-primary mb-2 me-1"
                    role="button"
                    style="float: left"
                    aria-disabled="true"
                >
                    Показать все
                </a>
                <p class="btn btn-secondary mb-2">
                    Заявки
                    <span  th:text="${incidents.getTotalElements()}" class="badge rounded-pill bg-danger">
                        <span class="visually-hidden">Все записи</span>
                    </span>
                </p>
            </div>
            <div class="col">
                <a  th:each="authority : ${#authentication.getAuthorities()}"
                    th:if="${authority.getAuthority()} == 'MEDICAL_WORKER'"
                    th:href="'/incidents/add'"
                    class="btn btn-primary"
                    role="button"
                    style="float: right"
                    aria-disabled="true">Создать заявку
                </a>
            </div>
        </div>

        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Критичность</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Статус заявки</th>
                <th scope="col"></th>
            </tr>
            <tr>
                <form method="POST" th:action="@{/incidents/search}" th:object="${incidentSearchForm}">
                    <th scope="col">
                        <input name="title" type="text" class="form-control" id="title">
                    </th>
                    <th scope="col">
                        <select  class="form-select" name="criticality" id="criticality" aria-label="Default select example">
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="criticalityItem: ${criticality}" th:value="${criticalityItem}" th:text="${criticalityItem.getCriticalityName()}"></option>
                        </select>
                    </th>
                    <th scope="col">
                        <input placeholder="YYYY-MM-DD" name="createdWhen" type="date" class="form-control" id="createdWhen">
                    </th>
                    <th scope="col">
                        <select class="form-select" name="status" id="status" aria-label="Default select example">
                            <option th:value="null" selected>Не выбрано</option>
                            <option th:each="status: ${statuses}" th:value="${status}" th:text="${status.getIncidentStatusName()}"></option>
                        </select>
                    </th>
                    <th scope="col" class="text-center">
                        <button type="submit" class="btn btn-primary">Поиск</button>
                    </th>
                </form>
            </tr>
            </thead>
            <tbody>

            <tr th:each="incident: ${incidents}" th:onclick="|window.location.href='/incidents/'+ ${incident.id}|">
                <td th:text="${incident.title}"></td>
                <td>
                    <div class="d-flex flex-row">
                        <p class="pe-1">
                          <span th:styleappend="'background: ' + ${incident.criticality.getCriticalityColor()}" style="border: 0.5px solid;border-radius: 2px;">
                            <i class="bi bi-info" ></i>
                          </span>
                        </p>
                        <p th:text="${incident.criticality.getCriticalityName()}"></p>
                    </div>
                </td>
                <td th:text="${#temporals.format(incident.createdWhen, 'dd-MM-yyyy HH:mm')}" ></td>
                <td th:text="${incident.status.getIncidentStatusName()}"></td>


                <td class="text-center" onclick="tdclick();">
                    <!-- Button trigger modal -->
                    <button th:if="${incident.status.toString()} == 'DRAFT'" type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#modalDeleteConfirm${incident.id}|">
                        Удалить
                    </button>
                    <button th:if="${incident.status.toString()} != 'DRAFT'" sec:authorize="hasRole('ADMIN')" type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#modalDeleteConfirm${incident.id}|">
                        Удалить
                    </button>
                    <!-- Modal delete confirm-->
                    <div class="modal fade" th:id="|modalDeleteConfirm${incident.id}|" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalDeleteTitle">Удалить заявку</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить заявку:
                                    <div th:text="${incident.title} + ' ?'"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <a th:href="'/incidents/delete/' + ${incident.id}"
                                       class="btn btn-danger"
                                       role="button"
                                       aria-disabled="true">Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${incidents.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${incidents.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/incidents?page={id}(id=${incidents.number lt 2 ? 1 : incidents.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq incidents.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, incidents.totalPages, 1)}">
                    <a class="page-link" th:href="@{/incidents?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${incidents.number eq incidents.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/incidents?page={id}(id=${incidents.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>