<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<head>
  <meta charset="UTF-8">
  <title>Заявка</title>
</head>
<body>
<div layout:fragment="content">
  <div class="text-center justify-content-between d-flex flex-row"><h1 class="my-0 me-2">Заявка </h1>
    <div th:switch="${incident.status.toString()}" class="d-flex justify-content-start align-items-center pb-2">
      <p class="me-2" style="font-weight:bold;">Статус заявки: </p>
      <p th:case="DRAFT" th:text="${incident.status.getIncidentStatusName()}" class="px-4 bg-secondary bg-gradient text-white rounded"></p>
      <p th:case="NEW" th:text="${incident.status.getIncidentStatusName()}" class="px-4 bg-primary bg-gradient text-white rounded"></p>
      <p th:case="WORKING" th:text="${incident.status.getIncidentStatusName()}" class="px-4 bg-warning bg-gradient text-black rounded"></p>
      <p th:case="COMPLETED" th:text="${incident.status.getIncidentStatusName()}" class="px-4 bg-primary bg-success text-white rounded"></p>
      <p th:case="CLOSED" th:text="${incident.status.getIncidentStatusName()}" class="px-4 bg-primary bg-danger text-white rounded"></p>
    </div>
  </div>
  <label class="w-100 text-center p-1" id="notify-message"></label>
  <hr>
  <div class="my-3 d-flex justify-content-between flex-row">
    <div class="me-2">
      <button class="btn btn-secondary me-2" onclick="window.history.back()">Назад</button>
      <a th:href="'/incidents/' + ${incident.id} + '/update'"
         th:each="authority : ${#authentication.getAuthorities()}"
         th:if="${authority.getAuthority()} == 'MEDICAL_WORKER' and ${incident.status.toString()} == 'DRAFT'"
         class="btn btn-primary me-2"
         role="button"
         aria-disabled="true">Редактировать
      </a>
      <!-- Button trigger modal -->
      <button th:if="${incident.status.toString()} == 'DRAFT'" type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#modalDeleteConfirm${incident.id}|">
        Удалить
      </button>
      <!-- Modal delete confirm-->
      <div class="modal fade" th:id="|modalDeleteConfirm${incident.id}|" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDeleteTitle">Удалить заявку</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Вы уверены, что хотите удалить заявку:
              <div th:text="${incident.title} + ' ?'"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
              <a th:href="'/incidents/delete/' + ${incident.id}"
                 class="btn btn-danger"
                 role="button"
                 aria-disabled="true">Удалить
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form method="POST" th:switch="${incident.status.toString()}" th:action="@{'/incidents/update-status/' + ${incident.id}}" th:object="${incidentStatus}">
      <button th:case="DRAFT" th:each="authority : ${#authentication.getAuthorities()}"
              th:if="${authority.getAuthority()} == 'MEDICAL_WORKER'" th:value="${incident.status}" type="submit" class="btn btn-primary" name="incidentStatus"
              onclick="return confirm('Передать заявку инженеру?');">
        Передать инженеру
      </button>
      <button th:case="NEW" th:each="authority : ${#authentication.getAuthorities()}"
              th:if="${authority.getAuthority()} == 'ENGINEER'" th:value="${incident.status}" type="submit" class="btn btn-primary" name="incidentStatus"
              onclick="return confirm('Взять заявку в работу?');">
        Взять в работу
      </button>
      <button th:case="WORKING" th:each="authority : ${#authentication.getAuthorities()}"
              th:if="${authority.getAuthority()} == 'ENGINEER'" th:value="${incident.status}" type="submit" class="btn btn-primary" name="incidentStatus"
              onclick="return confirm('Завершить и отправить на проверку?');">
        Завершить
      </button>
      <button th:case="COMPLETED" th:each="authority : ${#authentication.getAuthorities()}"
              th:if="${authority.getAuthority()} == 'MEDICAL_WORKER'" th:value="${incident.status}" type="submit" class="btn btn-primary" name="incidentStatus"
              onclick="return confirm('Подтвердить выполнение заявки?');">
        Подтвердить выполнение
      </button>
    </form>
  </div>
  <hr>
  <div class="py-3 d-flex justify-content-between flex-row">
    <nav class="w-100">
      <div class="nav-card-tabs nav nav-tabs flex-nowrap" id="nav-tab" role="tablist">
        <a class="card-tab nav-link active" id="nav-desc-tab" data-bs-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">Описание</a>
        <a class="card-tab nav-link " id="nav-repair-tab" data-bs-toggle="tab" href="#nav-repair" role="tab" aria-controls="nav-repair" aria-selected="false">Ремонт</a>
        <a class="card-tab nav-link " id="nav-files-tab" data-bs-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="false">Файлы</a>
        <a class="card-tab nav-link " id="nav-history-tab" data-bs-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">История</a>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
          <div th:replace="incidents/incident/incidentDesc :: incidentDesc"></div>
        </div>
        <div class="tab-pane fade" id="nav-repair" role="tabpanel" aria-labelledby="nav-repair-tab">
          <div th:replace="incidents/incident/incidentRepair :: incidentRepair"></div>
        </div>
        <div class="tab-pane fade" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
          <div th:replace="incidents/incident/incidentFiles :: incidentFiles"></div>
        </div>
        <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
          <div th:replace="incidents/incident/incidentHistory :: incidentHistory"></div>
        </div>
      </div>
    </nav>
  </div>
</div>
</body>
</html>