<!--Добавление пользователя-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавить пользователя</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="mb-4">Добавление пользователя</h1>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
  <form class="was-validated" method="POST"  th:object="${userForm}"
        oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Пароли должны совпадать" : "")'>
    <div th:if="${userLoginError != null}" class="mb-3">
      <div th:text="${userLoginError}" class="alert alert-danger" role="alert">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col">
        <div class="row-auto mb-3">
          <label for="lastName" class="form-label">Фамилия</label>
          <input th:field="${userForm.lastName}" name="lastName" type="text" class="form-control" id="lastName" required>
        </div>
        <div class="row-auto mb-3">
          <label for="firstName" class="form-label">Имя</label>
          <input th:field="${userForm.firstName}" name="firstName" type="text" class="form-control" id="firstName" required>
        </div>
        <div class="row-auto mb-3">
          <label for="middleName" class="form-label">Отчество</label>
          <input th:field="${userForm.middleName}" name="middleName" type="text" class="form-control" id="middleName">
        </div>
      </div>
      <div class="col">
        <div class="row-auto mb-3">
          <label for="role" class="form-label">Роль</label>
          <select th:field="${userForm.role.id}" class="form-select" name="role" id="role" aria-label="Default select example" required>
            <option th:value="null" selected>Выберете роль</option>
            <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
          </select>
        </div>
        <div class="row-auto mb-3">
          <label for="department" class="form-label">Подразделение</label>
          <select th:field="${userForm.department.id}"  class="form-select" name="department" id="department" aria-label="Default select example" required>
            <option th:value="null" selected>Выберете подразделение</option>
            <option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.title}"></option>
          </select>
        </div>
        <div class="row-auto mb-3">
          <label for="gender" class="form-label">Пол</label>
          <select th:field="${userForm.gender}"  class="form-select" name="gender" id="gender" aria-label="Default select example" required>
            <option th:value="null" selected>Выберете пол</option>
            <option th:each="gender: ${genders}" th:value="${gender}" th:text="${gender.getGenderName()}"></option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="row-auto mb-3">
          <label for="birthDate" class="form-label">Дата Рождения</label>
          <input th:field="${userForm.birthDate}" placeholder="YYYY-MM-DD" name="birthDate" type="date" class="form-control" id="birthDate" required>
        </div>
        <div class="row-auto mb-3">
          <label for="phone" class="form-label">Телефон</label>
          <input th:field="${userForm.phone}" name="phone" type="text" class="form-control" id="phone">
        </div>
        <div class="row-auto mb-3">
          <label for="backUpEmail" class="form-label">Почта</label>
          <input th:field="${userForm.backUpEmail}" name="backUpEmail" type="email" class="form-control" id="backUpEmail" required placeholder="name@example.com">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="row-auto mb-3">
            <label for="login" class="form-label">Логин</label>
            <input th:field="${userForm.login}" pattern="[A-Za-z0-9]{4,16}" name="login" type="text" class="form-control" id="login" required>
            <small id="loginHelp" class="form-text text-muted">Длина от 4 до 16 символов (латинские буквы и цифры)</small>
          </div>
          <div class="row-auto mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input pattern=".{8,}" name="password" type="password" class="form-control" id="password" required>
            <small id="passwordHelp" class="form-text text-muted">Длина пароля должна быть не менее 8 символов</small>
          </div>
          <div class="row-auto mb-3">
            <label for="passwordConfirm" class="form-label">Повторите пароль</label>
            <input name="passwordConfirm" type="password" class="form-control" id="passwordConfirm" required>
            <div class="invalid-feedback">Пароли должны совпадать</div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Добавить пользователя</button>
    <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>