<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
  <meta charset="UTF-8">
  <title>Редактировать профиль</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="text-center">Редактирование профиля</h1>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
  <form method="POST" th:action="@{'/users/profile/' + ${user.id} + '/update'}"  th:object="${userForm}" class="was-validated">
    <div th:if="${userLoginError != null}" class="mb-3">
      <div th:text="${userLoginError}" class="alert alert-danger" role="alert">
      </div>
    </div>
    <input type="hidden" name="id" id="id" th:value="${user.id}">
    <div class="mb-3 row">
      <div class="col">
        <div class="row-auto mb-3">
          <label for="lastName" class="form-label">Фамилия</label>
          <input th:value="${user.lastName}" name="lastName" type="text" class="form-control" id="lastName" required>
        </div>
        <div class="row-auto mb-3">
          <label for="firstName" class="form-label">Имя</label>
          <input th:value="${user.firstName}" name="firstName" type="text" class="form-control" id="firstName" required>
        </div>
        <div class="row-auto mb-3">
          <label for="middleName" class="form-label">Отчество</label>
          <input th:value="${user.middleName}" name="middleName" type="text" class="form-control" id="middleName">
        </div>
      </div>
      <div class="col">
        <div sec:authorize="hasRole('ADMIN')" class="row-auto mb-3">
            <label for="role" class="form-label">Роль</label>
            <select th:field="${user.role.id}" class="form-select" name="role" id="role" aria-label="Default select example" required>
              <option th:value="${user.role.id}" th:text="${user.role.description}" selected>Выберете роль</option>
              <option th:if="${user.role.id != role.id}" th:each="role: ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
            </select>
        </div>
        <input sec:authorize="!hasRole('ADMIN')" type="hidden" th:field="${user.role.id}" name="role">
        <div class="row-auto mb-3">
          <label for="department" class="form-label">Подразделение</label>
          <select th:field="${user.department.id}" class="form-select" name="department" id="department" aria-label="Default select example" required>
            <option th:value="${user.department.id}" th:text="${user.department.title}" selected>Выберете подразделение</option>
            <option th:if="${user.department.id != department.id}" th:each="department: ${departments}" th:value="${department.id}" th:text="${department.title}"></option>
          </select>
        </div>
        <div class="row-auto mb-3">
          <label for="gender" class="form-label">Пол</label>
          <select th:field="${user.gender}" class="form-select" name="gender" id="gender" aria-label="Default select example" required>
            <option th:value="${user.gender}" th:text="${user.gender.getGenderName()}" selected>Выберете пол</option>
            <option th:if="${gender != user.gender}" th:each="gender: ${genders}" th:value="${gender}" th:text="${gender.getGenderName()}"></option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="row-auto mb-3">
          <label for="birthDate" class="form-label">Дата Рождения</label>
          <input th:value="${user.birthDate}" placeholder="YYYY-MM-DD" name="birthDate" type="date" class="form-control" id="birthDate" required>
        </div>
        <div class="row-auto mb-3">
          <label for="phone" class="form-label">Телефон</label>
          <input th:value="${user.phone}" name="phone" type="text" class="form-control" id="phone">
        </div>
        <div class="row-auto mb-3">
          <label for="backUpEmail" class="form-label">Почта</label>
          <input th:value="${user.backUpEmail}" name="backUpEmail" type="email" class="form-control" id="backUpEmail" required placeholder="name@example.com">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="row-auto mb-3">
            <label for="login" class="form-label">Логин</label>
            <input th:value="${user.login}" name="login" type="text" class="form-control" id="login" required>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>