<!--страница с пользователем-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
      >
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Профиль</h1>
    <hr>
    <div class="my-3 d-flex justify-content-between flex-row">
        <div class="me-2">
            <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            <a th:href="'/users/profile/' + ${user.id} + '/update'"
               class="btn btn-primary"
               role="button"
               aria-disabled="true">Редактировать профиль
            </a>
        </div>
    </div>
    <hr>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Основная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">Логин</td>
            <td class="col-2" th:text="${user.login}"></td>
        </tr>
        <tr>
            <td class="col-1">Фамилия</td>
            <td class="col-2" th:text="${user.lastName}"></td>
        </tr>
        <tr>
            <td class="col-1">Имя</td>
            <td class="col-2" th:text="${user.firstName}"></td>
        </tr>
        <tr>
            <td class="col-1">Отчество</td>
            <td class="col-2" th:text="${user.middleName}"></td>
        </tr>
        <tr>
            <td class="col-1">Пол</td>
            <td class="col-2" th:text="${user.gender.getGenderName()}"></td>
        </tr>
        <tr>
            <td class="col-1">Дата рождения</td>
            <td class="col-2" >
                <input type="date" th:value="${user.birthDate}" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td class="col-1">Подразделение</td>
            <td class="col-2" th:text="${user.department.title}"></td>
        </tr>
        <tr>
            <td class="col-1">Роль</td>
            <td class="col-2" th:text="${user.role.description}"></td>
        </tr>
        </tbody>
    </table>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Контактная информация</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-1">Электронная почта</td>
                <td class="col-2" th:text="${user.backUpEmail}"></td>
            </tr>
            <tr>
                <td class="col-1">Телефон</td>
                <td class="col-2" th:text="${user.phone}"></td>
            </tr>
        </tbody>
    </table>
    <table class="table info-table">
        <thead>
            <tr>
                <th scope="col" colspan="100%">Оборудование</th>
            </tr>
        </thead>
        <tbody>
            <tr class="no-hover">
                <td>
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Наименование</th>
                            <th scope="col">Серийный номер</th>
                            <th scope="col">Инвентарный номер</th>
                            <th scope="col">Статус</th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <form method="POST" th:action="@{'/users/profile/' + ${user.id} + '/search'}" th:object="${deviceSearchForm}">
                                <input type="hidden" name="userId" id="userId" th:value="${user.id}">
                                <th scope="col">
                                    <input name="title" type="text" class="form-control" id="title">
                                </th>
                                <th scope="col">
                                    <input name="serialNumber" type="text" class="form-control" id="serialNumber">
                                </th>
                                <th scope="col">
                                    <input name="inventoryNumber" type="text" class="form-control" id="inventoryNumber">
                                </th>
                                <th scope="col">
                                    <select class="form-select" name="statusId" id="statusId" aria-label="Default select example">
                                        <option th:value="null" selected>Не выбрано</option>
                                        <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.description}"></option>
                                    </select>
                                </th>
                                <th scope="col" class="text-center">
                                    <button type="submit" class="btn btn-primary">Поиск</button>
                                </th>
                            </form>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="device: ${devices}" th:onclick="|window.location.href='/devices/'+ ${device.id}|">
                            <td th:text="${device.title}"></td>
                            <td th:text="${device.serialNumber}"></td>
                            <td th:text="${device.inventoryNumber}"></td>
                            <td th:text="${device.status?.getDescription()}"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        <tbody>
    </table>
    <!--<nav aria-label="Pagination" th:if="${devices.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${devices.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/devices?page={id}(id=${devices.number lt 2 ? 1 : devices.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq devices.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, devices.totalPages, 1)}">
                <a class="page-link" th:href="@{/devices?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${devices.number eq devices.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/devices?page={id}(id=${devices.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>-->
</div>
</body>
</html>