<!--страница с книгами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>

<body>
<div layout:fragment="content">

    <h1 class="text-center">Пользователи</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <div class="container-fluid row mb-2 mx-0 p-2">
        <div class="col">
            <a
                th:href="'/users'"
                class="btn btn-primary mb-2 me-1"
                role="button"
                style="float: left"
                aria-disabled="true"
            >
                Показать все
            </a>
            <p class="btn btn-secondary mb-2">
                Пользователи
                <span th:text="${users.getTotalElements()}" class="badge rounded-pill bg-danger">
                    <span class="visually-hidden">Все записи</span>
                </span>
            </p>
        </div>
        <div class="col">
            <a
                th:href="'/users/add'"
                class="btn btn-secondary mb-2"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить пользователя
            </a>
        </div>
    </div>

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Роль</th>
            <th scope="col"></th>
        </tr>
        <tr>
            <form method="POST" th:action="@{/users/search}" th:object="${userSearchForm}">
                <th scope="col">
                    <input name="lastName" type="text" class="form-control" id="lastName">
                </th>
                <th scope="col">
                    <input name="firstName" type="text" class="form-control" id="firstName">
                </th>
                <th scope="col">
                    <input name="middleName" type="text" class="form-control" id="middleName">
                </th>
                <th scope="col">
                    <select  class="form-select" name="departmentId" id="departmentId" aria-label="Default select example">
                        <option th:value="null" selected>Не выбрано</option>
                        <option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.title}"></option>
                    </select>
                </th>
                <th scope="col">
                    <select class="form-select" name="roleId" id="roleId" aria-label="Default select example">
                        <option th:value="null" selected>Не выбрано</option>
                        <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
                    </select>
                </th>
                <th scope="col" class="text-center">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user: ${users}" th:onclick="|window.location.href='/users/profile/'+ ${user.id}|">
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.middleName}"></td>
                <td th:text="${user.department.getTitle()}"></td>
                <td th:text="${user.role.getDescription()}"></td>

            <td class="text-center" onclick="tdclick();">
                <!--&lt;!&ndash; Button trigger modal &ndash;&gt;
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#modalDeleteConfirm${user.id}|">
                    Удалить
                </button>
                &lt;!&ndash; Modal delete confirm&ndash;&gt;
                <div class="modal fade" th:id="|modalDeleteConfirm${user.id}|" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalDeleteTitle">Удалить пользователя</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите удалить пользователя:
                                <div th:text="${user.lastName} + ' ' + ${user.middleName} + ' ' + ${user.firstName} + ' ?'"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <a th:href="'/users/delete/' + ${user.id}"
                                   class="btn btn-danger"
                                   role="button"
                                   aria-disabled="true">Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>-->
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${users.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${users.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/users?page={id}(id=${users.number lt 2 ? 1 : users.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq users.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, users.totalPages, 1)}">
                <a class="page-link" th:href="@{/users?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${users.number eq users.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/users?page={id}(id=${users.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>