<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Редактировать подразделение</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Редактирование подразделения</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <form method="POST" th:action="@{'/departments/' + ${department.id} + '/update'}"  th:object="${departmentForm}" class="was-validated">
        <input type="hidden" name="id" id="id" th:value="${department.id}">
        <div class="mb-3 row">
            <div class="row-auto mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea th:value="${department.description}" th:text="${department.description}" name="description" class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="row-auto mb-3">
                        <label for="title" class="form-label">Наименование</label>
                        <input th:value="${department.title}" name="title" type="text" class="form-control" id="title" required>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>