<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Подразделение</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Карточка подразделения</h1>
    <hr>
    <div class="my-3 d-flex justify-content-between flex-row">
        <div class="me-2">
            <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            <a th:href="'/departments/' + ${department.id} + '/update'"
               sec:authorize="hasRole('ADMIN')"
               class="btn btn-primary"
               role="button"
               aria-disabled="true">Редактировать
            </a>
        </div>
    </div>
    <hr>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">
                <label for="description" class="form-label">Описание</label>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" colspan="2">
                <div class="row-auto mb-3">
                    <textarea th:text="${department.description}" name="description" class="form-control" id="description" rows="5" readonly="readonly"></textarea>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <table class="table info-table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Основная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">Наименование</td>
            <td class="col-2" th:text="${department.title}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>