<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подразделения</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="text-center">Подразделения</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom"></div>
    <div class="container-fluid row mb-2 mx-0 p-2">
        <div class="col">
            <a
                th:href="'/departments'"
                class="btn btn-primary mb-2 me-1"
                role="button"
                style="float: left"
                aria-disabled="true"
            >
                Показать все
            </a>
            <p class="btn btn-secondary mb-2">
                Подразделения
                <span th:text="${departments.getTotalElements()}" class="badge rounded-pill bg-danger">
                    <span class="visually-hidden">Все записи</span>
                </span>
            </p>
        </div>
        <div class="col">
            <a  sec:authorize="hasRole('ADMIN')"
                th:href="'/departments/add'"
                class="btn btn-secondary"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить подразделение
            </a>
        </div>
    </div>
    <div class="container-fluid row mb-2 mx-0 p-2">
        <form class="col" style="float: left" method="POST" th:action="@{/departments/search}" th:object="${departmentSearchForm}">
            <div class="row">
                <div class="input-group mb-3">
                    <i class="input-group-text fs-5 bi bi-search"></i>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Поиск..." aria-label="Поиск..." aria-describedby="basic-addon1">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Подразделение</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="department: ${departments}" th:onclick="|window.location.href='/departments/'+ ${department.id}|">
            <td th:text="${department.title}"></td>
            <td th:text="${department.description}"></td>

            <td class="text-center" onclick="tdclick();">
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${departments.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${departments.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/departments?page={id}(id=${departments.number lt 2 ? 1 : departments.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq departments.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, departments.totalPages, 1)}">
                <a class="page-link" th:href="@{/departments?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${departments.number eq departments.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/departments?page={id}(id=${departments.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
