.nav-link.card-tab.active, .nav-link.card-tab.active:hover {
    border-color: #d4d4d4 #d4d4d4 #fff !important;
    color: #223776 !important;
    font-weight: bold;
    box-shadow: 0 -7px 6px rgba(0, 0, 0, 0.04);
}
.nav-link.card-tab {
    color: black !important;
}
.nav-link.card-tab:hover {
    border: 1px solid;
    border-color: #d4d4d4;
}
.nav-card-tabs {
    border-color: #d4d4d4;
}
.detail-card {
    border: 1px solid;
    border-color: #d4d4d4;
    border-radius: 5px;
    background: #e9ecee;
}