html { font-size: 0.5rem; }

@media (min-width: 576px) {
   html { font-size: 0.75rem; },
   .timeline > li > .timeline-badge {
          width: 25px;
          height: 25px;
          line-height: 25px;
          font-size: 1.4em;
          top: 30px;
          left: 50%;
          margin-left: -13px;
   };
}
@media (min-width: 768px) {
   html { font-size: 1rem; };
}
.btn-primary {
    color: white;
    background-color: #00A287;
    border-color: #00A287;
}

.btn-primary:hover {
    background-color: #006957;
    border-color: #006957;
    color: white;
}

.nav-link {
    color: white !important;
}

.card {
    max-width: 200px !important;
}

.my-post {
    border: solid 1px #c7c9cc;
    border-radius: 10px;
}
.my-head-post {
    border-bottom: solid 1px #c7c9cc;
}
.my-body-post > div > a.nav-link {
    color: rgb(32,33,36) !important;
}
.my-body-post > div:hover {
    box-shadow: inset 0 0 0 10em rgba(52, 208, 182, 0.2);
}
.tab-content {
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #fff #d4d4d4 #d4d4d4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}