.custom-logo{
    color: white;
    background: #217272;
    width:100%;
    border-bottom: solid 4px white;
}

li.nav-item.active {
    background: #217272;
    border-right: solid 3px white;
    border-left: solid 3px white;
}
li.nav-item {
    border-right: solid 3px transparent;
    border-left: solid 3px transparent;
}

ul#menu>li.nav-item:hover {
    color:#0d6efd;
}
ul#menu>li.nav-item>a {
    padding: 2px 6px;
    color: inherit !important;
}
ul#menu>li.nav-item>a>span {
    color: inherit !important;
}

ul#menu>li.nav-item {
    margin: 6px 0px;
    border-radius: 8px;
}

ul#menu>li.nav-item>a>i {
    font-size: 2rem;
}
ul#menu,
ul#menu li,
ul#menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
ul#menu li {
    width: 100%;
}

ul#menu {
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

ul#menu li a {
  text-decoration: none;
  color: #333;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
thead {
    background: #689999;
    text-align: center;
}