tbody > :not(:last-child):hover {
    box-shadow: inset 0 0 0 10em rgba(52, 208, 182, 0.2);
}
tbody > :last-child:hover {
    box-shadow: inset 0 0 0 10em rgba(52, 208, 182, 0.2);
    border-radius: 0 0 10px 10px !important;
}
table {
    text-align: center;
    background: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    border-radius: 10px !important;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    border-bottom: none;
}
thead > :first-child > :first-child {
    border-top-left-radius: 10px;
}
thead > :first-child > :last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
tr:last-child td{
    border-bottom: none;
}
table.info-table > tbody > tr {
    text-align: left !important;
}
table.info-table > thead > tr > th {
    text-align: left !important;
    font-size : calc(1.275rem + .3vw) !important;
    font-weight: 500;
    line-height: 1.2;
        border-bottom-width: 0 !important;
}
table.info-table th, td {
    padding: 0.7rem 1.5rem !important;
}
table.info-table td>input {
    all: unset;
}
.no-hover {
    box-shadow: unset !important;
}
.incident-status {
    box-shadow: inset 0 0 0 10em rgba(5, 5, 182, 0.2) !important;
}