<!DOCTYPE html>
<html
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Index</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/menu.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background: #f4f5f8;">

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-3 pt-4 col-md-3 col-xl-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center text-white min-vh-100">
        <div th:replace="menu :: menu"></div>
      </div>
    </div>
    <div class="col p-0">
      <div th:replace="header:: header"></div>
      <div class="col p-3">
        <div class="container pb-4 px-4 bg-white shadow-lg rounded">
          <br>
          <div class="container">
            <h1>Что-то пошло не так! </h1>
            <h2>Мы устраняем ошибку.</h2>
            <p th:if="${message != null}" th:text="${message}"></p>
            <a href="/">На главную</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>