<!--Шапка сайта-->
<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid row px-0 mx-0">
        <div sec:authorize="isAuthenticated()" class="col py-2 shadow bg-white d-flex justify-content-end align-items-center" style="width:80%;">
            <div class="dropdown pe-2">
                <a href="#" style="color:#217272;" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fs-1 bi bi-person-circle"></i>
                    <span th:each="authority : ${#authentication.getAuthorities()}"
                          th:switch="${authority.getAuthority()}"
                          class="d-none d-sm-inline mx-1">
                        <span th:case="MEDICAL_WORKER">Медицинский работник</span>
                        <span th:case="ENGINEER">Инженер</span>
                        <span sec:authorize="hasRole('ADMIN')">Администратор</span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li sec:authorize="!hasRole('ADMIN')">
                        <a th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}"  class="dropdown-item" >Профиль</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item btn-danger" href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>