<!--Боковое меню сайта-->
<div th:fragment="menu"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="d-flex flex-column align-items-center text-white min-vh-100 px-3">
    <div class="d-flex rounded justify-content-center custom-logo align-items-center">
        <a class="navbar-brand py-3 fs-4" href="/">Главная</a>
    </div>
    <ul sec:authorize="isAuthenticated()" class="nav nav-pills pt-3 flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li sec:authorize="hasRole('ADMIN')" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users') ? 'active':''}" class="nav-item" >
            <a href="/users" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi bi-people"></i> <span class="px-2 d-none d-sm-inline">Пользователи</span> </a>
        </li>
        <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/departments') ? 'active':''}" class="nav-item">
            <a href="/departments" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi bi-building"></i> <span class="px-2 d-none d-sm-inline">Подразделения</span> </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/devices') ? 'active':''}" class="nav-item">
            <a href="/devices" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-cpu"></i> <span class="px-2 d-none d-sm-inline">Оборудование</span> </a>
        </li>
        <li th:each="authority : ${#authentication.getAuthorities()}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/devices') ? 'active':''}" class="nav-item"
            th:if="${authority.getAuthority()} == 'ENGINEER'">
            <a href="/devices" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-cpu"></i> <span class="px-2 d-none d-sm-inline">Оборудование</span> </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/manufacturers') ? 'active':''}" class="nav-item">
            <a href="/manufacturers" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-truck"></i> <span class="px-2 d-none d-sm-inline">Производители</span> </a>
        </li>
        <li th:each="authority : ${#authentication.getAuthorities()}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/manufacturers') ? 'active':''}" class="nav-item"
            th:if="${authority.getAuthority()} == 'ENGINEER'">
            <a href="/manufacturers" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-truck"></i> <span class="px-2 d-none d-sm-inline">Производители</span> </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/details') ? 'active':''}" class="nav-item">
            <a href="/details" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-tools"></i> <span class="px-2 d-none d-sm-inline">Детали</span> </a>
        </li>
        <li th:each="authority : ${#authentication.getAuthorities()}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/details') ? 'active':''}" class="nav-item"
            th:if="${authority.getAuthority()} == 'ENGINEER'">
            <a href="/details" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-tools"></i> <span class="px-2 d-none d-sm-inline">Детали</span> </a>
        </li>
        <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/incidents') ? 'active':''}" class="nav-item">
            <a href="/incidents" class="nav-link justify-content-start d-flex align-items-center">
                <i class="bi-file-earmark-text"></i> <span class="px-2 d-none d-sm-inline">Заявки</span>
            </a>
        </li>
    </ul>
    <hr>
</div>